<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MercadoTECH - Gestor de Productos</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	<body class="container">
		<h1>Nuevo Producto</h1>
		<form action="http://localhost:3000/api" method="post">

			<label for="nombre">Ingrese nombre:</label>
			<input class="form-control" type="text" name="nombre" placeholder="Ej: Jugo de Uva">
			
			<br>

			<label for="stock">Ingrese Stock:</label>
			<input class="form-control" type="number" name="stock" placeholder="Ej: 9999">

			<br>

			<label for="precio">Ingrese Precio:</label>
			<input class="form-control" type="number" name="precio" placeholder="Ej: 1999.99">

			<br>

			<label for="marca">Elija una marca:</label>
			<select class="form-control" name="marca">
				<option value="apple">Apple</option>
				<option value="samsung">Samsung</option>
				<option value="google">Google</option>
				<option value="lg">LG</option>
			</select>

			<br>

			<label for="detalle">Ingrese un detalle:</label>
			<textarea class="form-control" name="detalle" cols="30" rows="10" placeholder="Max: 100 caracteres"></textarea>

			<br>

			<input class="btn btn-primary" type="submit" value="Agregar">

		</form>
	</body>
</html>