<table>
    <tr>
        <th>Nombre</th>
        <th>Stock</th>
        <th>Precio</th>
        <th>MArca</th>
    </tr>
    <tr>
        <td>Jugo</td>
        <td>500</td>
        <td>99.99</td>
        <td>Villa del Norte</td>
    </tr>
</table>